!jest.config.js
*.d.ts
node_modules

# Go pkg
pkg

# Test library csv files
api/test/test_files/*

# Compiled lambda binaries
infra-cdk/bin/lambdas/*

infra-cdk/lib/cognito/lambda/build/*

# CDK asset staging directory
.cdk.staging
cdk.out

# Sensitive keys
keys/*